<h2>Instance Status and System Configuration:</h2>
<form>
  <fieldset class="column">
    <legend>System Info</legend>
    <label class="name">Platform: </label>  <label>{{osType}} ({{osRelease}}) ({{architecture}})</label> <br>
    <label class="name">Hostname: </label>  <label>{{hostName}}</label> <br>
     <label class="name">Uptime: </label>  <label>{{uptime}} sec.</label> <br>
     <label class="name">Home directory: </label>  <label>{{homeDir}}</label> <br>
  </fieldset>

  <fieldset class="column">
    <legend>Integration-Node Instance info</legend>
    <label class="name">Environment: </label>  <label>{{env}}</label> <br>
    <label class="name">Port: </label>  <label>{{portNr}}</label> <br>
    <label class="name">Base directory: </label>  <label>{{baseDir}}</label> <br>
    <label class="name">Redis DB socket: </label>  <label>{{redisSocket}}</label> <br>
    <label class="name">Redis DB number: </label>  <label>{{redisDb}}</label> <br>
    <label class="name">Instance logging level: </label>  <label>{{logLevel}}</label> <br>
  </fieldset>
</form>
