<h2>Integration Groups:</h2>

<table>
<tr>
  <th>Name</th>
  <th>Active?</th>
  <th>Data Source</th>
  <th>Integrations</th>
</tr>
{{#each integrationGroups}}
<tr>
  <td class="emphasized"><a href="/integration-groups/{{name}}">{{name}}</a></td>
  {{#if active}}
      <td class ="centered"><a href="/integration-group/toggle?ig_name={{name}}"><img src="/img/GreenBall.png" title="Disable integration group"></a></td>
  {{else}}
      <td class ="centered"><a href="/integration-group/toggle?ig_name={{name}}"><img src="/img/RedBall.png" title="Enable integration group"></a></td>
  {{/if}}
  <td class ="centered"><a href="/datasources/{{datasource}}">{{datasource}}</a></td>
  <td>
    <ul>
    {{#each integrations}}
      {{#if active}}
        <li class="active">{{name}}</li>
      {{else}}
        <li class="inactive">{{name}}</li>
      {{/if}}
    {{/each}}
    </ul>
  </td>
</tr>
{{/each}}
</table>
