<h2>Integration Group: {{name}}</h2>

<table>
<tr>
  <td><h4>Active status:</h4></td>
<td>
  {{#if active}}
  <a href="/integration-group/toggle?ig_name={{name}}"><img src="/img/GreenBall.png" title="Disable integration group"></a>
{{else}}
  <a href="/integration-group/toggle?ig_name={{name}}"><img src="/img/RedBall.png" title="Enable integration group"></a>
{{/if}}
</td>
 <td><h4>Datasource:</h4></td><td><a href="/datasource/toggle?ds_name={{dataSource}}"></a>{{dataSource}}</td>
</tr>

</table>

<h4>Integrations:</h4>
<table>
<tr>
  <th>Name</th>
  <th>Active?</th>
  <th>Type</th>
  <th>Triggering</th>
  <th>Routing</th>
</tr>

{{#each integrations}}
  <tr>
    <td class="emphasized">{{name}}</td>
    <td>
      {{#if active}}
        <img src="/img/GreenBall.png" title="Disable integration group">
      {{else}}
        <img src="/img/RedBall.png" title="Enable integration group"></a>
      {{/if}}
    </td>
    <td>{{type}}</td>
    <td>
      <ol>
        {{#each triggers}}
          <li>
            <ul>
              {{#each triggerFields}}
                <li>{{fieldName}}={{fieldValue}}</li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ol>
    </td>
     <td>
      <ol>
        {{#each routings}}
          <li>
            <ul>
              {{#each routingAttributes}}
                <li>{{attributeName}}={{attributeValue}}</li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ol>
    </td>
  </tr>



{{/each}}

</table>
