<h2>Data  source: {{name}} [{{type}}]</h2>
<table>
<tr>
  <td><h4>Active status:</h4></td>
<td>
  {{#if active}}
  <a href="/datasource/toggle?ds_name={{name}}"><img src="/img/GreenBall.png" title="Disable data source"></a>
{{else}}
  <a href="/datasource/toggle?ds_name={{name}}"><img src="/img/RedBall.png" title="Enable data source"></a>
{{/if}}
</td>
 <td><h4>Log unmatched events:</h4></td><td>{{logUnmatchedEvents}}</td>
</tr>
<tr>
  <td><h4>Configuration:</h4></td><td colspan="3">{{config}}</td>
</tr>
</table>


<table>
<tr>
  <th>Trigger Conditions</th>
  <th>Triggered integration</th>
</tr>

{{#each triggers}}
  <tr>
    <td>
      <ul>
          {{#each triggerFields}}
        <li>{{fieldName}}={{fieldValue}}</li>
          {{/each}}
      </ul>
    </td>
    <td>{{integration}}</td>
  </tr>
{{/each}}

</table>



